<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../layout/head.ejs') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title><%= title %></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('../../layout/nav.ejs') %>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Add New Post</h4>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                              <img class="img-fluid"  src="/static/images/img-05.png" alt="Logo image" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8">
                                <form class="form-horizontal" method="POST" action="/admin/products/new" enctype="multipart/form-data">
                                    <fieldset>
                                    <!-- Form Name -->
                                    <legend>PRODUCTS</legend>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="product_id" >PRODUCT ID</label>  
                                            <div class="col-md-4">
                                                <input value="<%= data.product.id %>" id="product_id" name="product_id" placeholder="Product ID" class="form-control input-md product_id" required="" type="text" readonly>
                                            </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
                                        <div class="col-md-4">
                                            <input id="product_name" name="product_name" placeholder="Product Name" class="form-control input-md" required="" type="text">  
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="product_name">PRODUCT PRICES</label>  
                                        <div class="col-md-4">
                                            <input name="product_prices" id="product_prices"placeholder="Product Prices" class="form-control input-md" required="" type="number" >  
                                        </div>
                                    </div>
                                
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION </label>  
                                        <div class="col-md-4">
                                            <textarea id="product_description" name="product_description" placeholder="Product Description" class="form-control input-md" required="" type="text">  </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="product_images">PRODUCT IMAGES </label>  
                                        <div class="col-md-4">
                                            <span>Chon file</span>
                                            <input class="product_images" type="file" multiple size="50" onchange="previewFile()" name="product_images" id="inpImage" accept="image/*">
                                            <div class="image_preview" id="imagePreview">
                                                <img src="" alt="" id="image_preview__image">
                                                <span id="image_preview__default_text">Image Preview</span>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
                                        <div class="col-md-4">
                                            <select id="product_categorie" name="product_categorie" class="form-control">
                                                <% for(let i = 0; i < data.product.category.length; i++){ %>
                                                    <option> <%= data.product.category[i] %></option>    
                                                <%}%>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="author">AUTHOR</label>  
                                        <div class="col-md-4">
                                            <input id="author" name="author" placeholder="Author" class="form-control input-md" required="" type="text">   
                                        </div>
                                    </div>
                                
                                    <!-- Button -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="singlebutton"></label>
                                        <div class="col-md-4">
                                            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                    </fieldset>
                                    </form>
                            </div>
                            <%- include('../../layout/category.ejs') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/image-preview.js"></script>
</body>
</html>