<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../layout/head.ejs') %>
    <title><%= title %></title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <%- include("../layout/nav.ejs") %>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4"><div style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
              This week
            </button>
          </div>
        </div>
        <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="974" height="410" style="display: block; height: 342px; width: 812px;"></canvas>
  
        <div>
          <h2 >All Posts</h2>
          <a href="/admin/posts/new" class="btn btn-info pull-right" style="padding-bottom: 10px;"> Add New Post</a>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Content</th>
                <th>Author</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < data.post.length; i++) {%>
                    <tr>
                        <td> <%= data.post[i].id %></td>
                        <td> <%= data.post[i].title %></td>
                        <td> <%= data.post[i].content %></td>
                        <td> <%= data.post[i].author %></td>
                        <td> <%= data.post[i].created_at %></td>
                        <td> <%= data.post[i].updated_at %></td>
                        <th>  
                        <a href="/admin/posts/edit/<%= data.post[i].id %>" class="btn btn-success"> Edit</a>
                        <a href="/admin/posts/delete/<%= data.post[i].id %>" class="btn btn-danger" value="Delete">Delete</a>
                        </th>
                    </tr>
                <%}%>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</body>
</html>
