<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tiny Format Text Area -->
    <script src="https://cdn.tiny.cloud/1/l01e87n2t3uzm6jo5u43oj02bsloetedndype5nuj1dl4xuf/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>    
    <script>tinymce.init({selector:'textarea'});</script>
    <%- include('../../layout/head.ejs') %>
    <title><%= title %></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('../../layout/nav.ejs') %>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Add New Post</h4>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2">
                              <img class="img-fluid"  src="/static/images/img-05.png" alt="Logo image" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-8">
                                <form action="/admin/posts/new" method="POST">
                                  <!------------------------------ Tittle ------------------------------>
                                  <div class="form-group row">
                                    <label for="text" class="col-12 col-form-label">Title </label> 
                                    <div class="col-12">
                                      <input id="text" name="title" placeholder="Enter Title here" class="form-control here" required="required" type="text">
                                    </div>
                                  </div>
                                  <!------------------------------ Author ------------------------------>
                                  <div class="form-group row">
                                    <label for="text" class="col-12 col-form-label">Author </label> 
                                    <div class="col-12">
                                      <input id="text" name="author" placeholder="Enter Author here" class="form-control here" required="required" type="text">
                                    </div>
                                  </div>
                                  <!------------------------------ Content ------------------------------>
                                  <div class="form-group row">
                                    <label for="textarea" class="col-12 col-form-label">Content</label> 
                                    <div class="col-12">
                                      <textarea id="textarea" name="content" cols="40" rows="5" class="form-control"></textarea>
                                    </div>
                                  </div> 
                                  <!------------------------------ Error ------------------------------>
                                  <div class="form-group row">
                                    <% if(!data.error) {%>
                                      <p></p>
                                    <%} else {%>
                                      <p style="color:#f75050;">
                                        <%= data.error %>
                                      </p>
                                    <%}%> 
                                  </div>
                                  <div class="col-md-7">
                                    <button type="submit" class="btn btn-sm btn-primary">Add New</button>
                                </div>
                                </form>
                            </div>
                            <%- include('../../layout/category.ejs') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>